/A star practice/Assets/UnityVS
/A star practice/Assets/UnityVS.meta
/A star practice/Library
/A star practice/Temp
/A star practice/UnityVS.A star practice.sln
/A star practice/obj
/A star practice/UnityVS.A star practice.v12.suo
/A star practice/UnityVS.A star practice.CSharp.csproj
/A star practice/UnityVS.A star practice.CSharp.Editor.csproj
